body{
    background-color: black;
}

.container{
    text-align: center;
    margin-top:23px;
   
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 2px solid rgba(0, 255, 255, 0.527);
    font-size:34px;
    height: 65px;
    width: 456px;
    box-shadow:0px 5px 5px rgb(0, 0, 0) ;
}

button{
    border-radius: 20px;
    border: #244624;
    font-size: 40px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px rgb(0, 255, 255);
    width: 102px;
    height: 90px;
    margin: 6px;
    color: aliceblue;
    transition: ease 0.8s;
    cursor: pointer;
}
button:hover{
    transform: scale(0.9);
    background-color:rgb(58, 57, 57) ;
}

.calculator{ 
    /* border: 4px solid #00ffdd; */
    box-shadow: 1px 5px 30px rgb(0, 255, 255);
    background:radial-gradient(red,rgb(58, 0, 0)) ;
    padding: 23px;
    border-radius: 23px;
    display: inline-block;

    
}


